@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  
  --color-surface: #f7f9fc;
  --color-surface-dim: #d8dadd;
  --color-surface-bright: #f7f9fc;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f7;
  --color-surface-container: #eceef1;
  --color-surface-container-high: #e6e8eb;
  --color-surface-container-highest: #e0e3e6;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #434749;
  --color-inverse-surface: #2d3133;
  --color-inverse-on-surface: #eff1f4;
  --color-outline: #747879;
  --color-outline-variant: #c3c7c8;
  --color-primary: #181f21;
  --color-on-primary: #ffffff;
  --color-primary-container: #2d3436;
  --color-on-primary-container: #959c9f;
  --color-secondary: #7c5800;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #ffcd70;
  --color-on-secondary-container: #785500;
  --color-safety-yellow: #FDCB6E;
  --color-structural-charcoal: #2D3436;
  --color-steel-gray: #636E72;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.industrial-shadow {
  box-shadow: 4px 4px 0px 0px #181f21;
}

.industrial-shadow-hover:hover {
  box-shadow: 6px 6px 0px 0px #181f21;
  transform: translate(-2px, -2px);
}

.industrial-shadow-active:active {
  box-shadow: 2px 2px 0px 0px #181f21;
  transform: translate(2px, 2px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
